$primary: #3F51B5;
$secondary: #FF8F00;
$light: #eee;
$danger: #d30000;
$dark: #283593;


table {
  width: 100%;
}

.table-header {
  background-color: $primary;
  color: #fff !important;

  th {
    color: #fff;
  }
}


.checkbox-mar {
  margin: 12px;
}

.tab-contents {
  width: 100% !important;

}
.card{
  box-shadow: none !important;
}
